<h1>Articles</h1>

<ul>
    <% @article.each do |article|%>
        <li>
            <%= link_to article.title, article_path(article) %>
            <!--<%#= link_to article.title, article %>   윗코드랑 같은거 article_path를 생략할수있다. -->
        </li>
    <% end%>
</ul>