<footer class="container">
    <hr class="my-1">
    <small>
        <a href="https://github.com/lee-sj">joon's Github</a>
        <a href="http://bit.ly/leesj_resume">joon's resume</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to 'About', '#' %></li>
            <li><%= link_to 'Content', '#' %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
        </ul>
    </nav>
</footer>